.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
}

.board td:hover {
    background-color: lightyellow;
}

.occupied {
    background-color: rgb(224, 224, 18)
}

.clicked {
    background-color: red;
}